/** flex classes: **/

.row,
.row_wrap,
.column,
.column_wrap {
  display: flex;
  flex: 1 1 auto;
}

.row {
  flex-flow: row nowrap;
}

.row_wrap {
  flex-flow: row wrap;
}

.column {
  flex-flow: column nowrap;
}

.column_wrap {
  flex-flow: column wrap;
}

.flex_center {
  justify-content: center;
}

.flex_start {
  justify-content: flex-start;
}

.flex_end {
  justify-content: flex-end;
}

.flex_justify {
  justify-content: space-between;
}

.flex_grow {
  flex: 1 1 auto;
}

.flex_no_grow {
  flex: 0 1 auto;
}

/** body: **/

body {
  background-color: #938b9a;
  margin: 0;
  padding: 0;
  font-family: "open Sans", "Arial", "Helvetica", sans-serif;
}

/** headers: **/

h4 a {
  text-decoration: none;
}

/** main container: **/

.container {
  min-height: 100vh;
  max-width: 1850px;
  margin: auto;
}

/** header: **/

.header {
  background-color: #6f6f6f;
  height: 5.5em;
  box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.2),
              0 0.6em 2em 0 rgba(0, 0, 0, 0.19);
  margin-bottom: auto;
}

.header_image {
  max-height: 4em;
  margin: 1em;
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 550px) {
  .header_image {
    max-height: 2em;
    margin: 1em;
    margin-top: 2.2em;
    margin-bottom: 0.5em;
  }
}

.header a {
  color: #80c41c;
  text-decoration: none;
}

@media only screen and (min-width: 1800px) {
  .header {
    margin-top: 0.4em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    border-radius: 1.5em 1.5em 0em 0em;
  }
}

.header_text {
  color: #80c41c;
  font-family: Roboto, sans-serif;
  font-size: 1.7em;
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: auto;
  margin-bottom: 0.4em;
  flex-basis: 90%;
}

@media only screen and (max-width: 850px) {
  .header_text {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 800px) {
  .header_text {
    display: none;
  }
}

/** navigation links: **/

.header_navigation {
  color: #80c41c;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 2.5em;
  margin-right: 1.5em;
  text-align: right;
  text-wrap: nowrap;
}

@media only screen and (max-width: 550px) {
  .header_navigation {
    margin-right: 0.5em;
  }
}

.header_navigation a,
.header_navigation a:visited {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.header_navigation a:hover {
  color: #cccccc;
}

/** content: **/

.content {
  color: #ffffff;
  background-color: #4a4a4a;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.2),
              0 0.6em 2em 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (min-width: 1800px) {
  .content {
    margin-left: 0.3em;
    margin-right: 0.3em;
  }
}

.content a,
.content a:visited {
  color: #ffffff;
}

/** text: **/

.content_text_container {
  margin-top: 1.5em;
  max-height: 73vh;
  overflow-y: scroll;
}

.content_text {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  max-width: 49em;
  padding-right: 0.8em;
  padding-bottom: 3em;
}

.content_text a,
.content_text a:visited {
  color: #ffffff;
}

/** language selection: **/

.content_language {
  font-size: 1.0em;
  height: 1.0em;
  max-height: 1.0em;
  margin: 0.4em 0.5em 0.1em 0.5em;
}

.language_link {
  cursor: pointer;
  margin: 0.2em;
}

.language_link:hover {
  color: #cccccc;
}

.language_radio {
  display: block;
  position: relative;
  padding-left: 1.8em;
  font-size: 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* hide the browser's default radio button: */
.language_radio input {
  display: none;
  opacity: 0;
}

/* custom radio button: */
.language_check {
  position: absolute;
  top: 0.1em;
  left: 0.3em;
  height: 1.1em;
  width: 1.1em;
  background-color: #cccccc;
  border-radius: 50%;
}

/* when checked: */
.language_radio input:checked ~ .language_check {
  background-color: #80c41c;
}

/* create the indicator, hidden when not checked: */
.language_check:after {
  content: '';
  position: absolute;
  display: none;
}

/* show the indicator when checked: */
.language_radio input:checked ~ .language_check:after {
  display: block;
}

/* style the indicator: */
.language_radio .language_check:after {
  top: 0.31em;
  left: 0.31em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #4a4a4a;
}

/** map: **/

.leaflet-bar,
.leaflet-bar a,
.leaflet-bar a.leaflet-disabled,
.leaflet-control {
  color: #ffffff !important;
  background-color: rgba(104, 104, 104, 0.9) !important;
  border: 2px solid rgba(128, 196, 28, 0.2) !important;;
}

.leaflet-bar a:hover {
  background-color: rgba(128, 196, 28, 0.5) !important;
}

.leaflet-control-scale-line {
  color: #ffffff;
  border: 2px solid #80c41c;
  border-top: none;
  background: rgba(128, 196, 28, 0.5);
  text-shadow: none;
}

/* add margin to labels, to make space for radio: */
.leaflet-control-layers-base label {
  margin-left: 1.8em;
  margin-top: 0.2em;
  cursor: pointer;
}

/* hide the browser's default radio button: */
.leaflet-control-layers-base input {
  display: none;
  opacity: 0;
}

/* custom radio button: */
.radio_check {
  position: absolute;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #cccccc;
  border-radius: 50%;
}

/* when checked: */
.leaflet-control-layers-base input:checked ~ .radio_check {
  background-color: #80c41c;
}

/* create the indicator, hidden when not checked: */
.radio_check:after {
  content: '';
  position: absolute;
  display: none;
}

/* show the indicator when checked: */
.leaflet-control-layers-base input:checked ~ .radio_check:after {
  display: block;
}

/* style the indicator: */
.leaflet-control-layers-base .radio_check:after {
  top: 0.4em;
  left: 0.4em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #4a4a4a;
}

.leaflet-control-mouseposition {
  min-width: 11em;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0em 0em 0.25em #bbbbbb;
  padding: 0.25em;
  margin-left: 0.5em !important;
  color: #333333;
  font: 1em "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.content_map {
  margin: 0.5em;
  margin-bottom: 0em;
  height: 69vh;
  min-height: 410px;
  border: 2px solid rgba(128, 196, 28, 0.2) !important;;
}

.map_control {
  padding: 0.1em 0.5em 0.1em 0.5em;
  border-radius: 0.25em;
  text-align: right;
}

.map_title {
  font-size: 1.1em;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .map_title {
    max-width: 15em;
  }
}

.map_color_map {
  padding-top: 0.7em;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.map_color_map p {
  margin: 0;
  padding: 0;
  text-align: left;
}

.map_color_map_title {
  margin: 0.1em !important;
  font-size: 1em;
  font-weight: 600;
}

.map_color_map_color {
  display: inline-block;
  vertical-align: text-bottom;
  width: 1.3em;
  height: 1.3em;
  margin: 0;
  margin-right: 0.3em;
}

.map_color_map_value {
  display: inline-block;
  vertical-align: text-bottom;
  text-align: left;
}

/** map overlay text: **/

.content_map_text {
  display: none;
  color: #ffffff;
  background-color: rgba(104, 104, 104, 0.95);
  border: none;
  height: 100%;
  width: 45%;
  min-width: 20em;
  z-index: 999999;
  position: absolute;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
  padding-top: 2em;
  padding-left: 0.5em;
  font-family: "open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 1.3em;
  cursor: auto;
}

.content_map_text_close_container {
  position: sticky;
  width: 100%;
  top: 0;
}

.content_map_text_close {
  color: #ffffff;
  font-size: 2em;
  text-decoration: none;
  position: absolute;
  top: -1em;
  right: 0.4em;
}

.content_map_text_close:hover {
  color: #cccccc;
}

.map_text_open_container {
  padding: 0.55em 0.5em 0.2em 0.5em;
  text-align: right;
  cursor: pointer;
}

.map_text_open_container:hover {
  background-color: rgba(121, 156, 72, 0.9) !important;
}

.map_text_open_img {
  margin: 0;
  width: 1.8em;
}

/** slider: **/

.content_slider_container {
  margin: 0em;
}

.content_slider {
  max-height: 3em;
  margin: 0.4em;
  margin-top: 0.5em;
  padding: 0.3em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.content_slider_title {
  margin: 0.2em;
  margin-left: 0.5em;
  font-size: 0.9em;
}

.content_slider_value {
  display: inline-block;
  min-width: 4em;
  margin: 0.2em;
  font-size: 0.9em;
  color: #ffffff;
}

.content_slider_slider {
  max-height: 0.7em;
  width: 75%;
  max-width: 25em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 1.5em;
}

.noUi-target {
  background: #cccccc;
  border: 1px solid #cccccc;
  box-shadow: none;
}

.noUi-handle {
  height: 16px !important;
  top: -4px !important;
  background: #80c41c;
  border: 1px solid #80c41c;
  box-shadow: none;
}

.noUi-handle::after,
.noUi-handle::before {
  display: none;
}

/** footer: **/

.footer {
  background-color: #6f6f6f;
  height: 3.5em;
  margin-top: auto;
  box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.2),
              0 0.6em 2em 0 rgba(0, 0, 0, 0.19);
}

.footer_logo {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  max-height: 3em;
  margin: 0.25em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

@media only screen and (min-width: 1800px) {
  .footer {
    margin-bottom: 1em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    border-radius: 0em 0em 0.5em 0.5em;
  }
}

@media only screen and (max-width: 650px) {
  .footer {
    flex: 1 1 auto;
    max-height: 2.5em;
    min-height: 2.5em;
  }
  .footer_logo {
    max-height: 2em;
  }
}

.footer_item {
  display: inline-block;
}

@media only screen and (max-width: 330px) {
  .footer_item_hide {
    display: none;
  }
}

.footer_links {
  flex-basis: 99%;
  text-align: center;
}

.footer_link {
  color: #fdfdfd;
  text-decoration: none;
}

/** buttons: **/

/* remove outlines from active buttons: */
button, button:focus, button:active {
  outline: 0;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}


.leaflet-tooltip-local {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0.3s;
}
