/** flex classes: **/

.row,
.row_wrap,
.column,
.column_wrap {
  display: flex;
  flex: 1 1 auto;
}

.row {
  flex-flow: row nowrap;
}

.row_wrap {
  flex-flow: row wrap;
}

.column {
  flex-flow: column nowrap;
}

.column_wrap {
  flex-flow: column wrap;
}

.flex_center {
  justify-content: center;
}

.flex_start {
  justify-content: flex-start;
}

.flex_end {
  justify-content: flex-end;
}

.flex_justify {
  justify-content: space-around;
}

.flex_grow {
  flex: 1 1 auto;
}

.flex_no_grow {
  flex: 0 1 auto;
}

/** body: **/

body {
  background-color: #938b9a;
  margin: 0;
  padding: 0;
  font-family: sans-serif, "Arial", "Helvetica";
}

/** headers: **/

h4 a {
  text-decoration: none;
}

/** main container: **/

.container {
  min-height: 100vh;
  max-width: 1850px;
  margin: auto;
}

/** header: **/

.header {
  background-color: #6f6f6f;
  height: 6em;
  box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.2),
              0 0.6em 2em 0 rgba(0, 0, 0, 0.19);
  margin-bottom: auto;
}

.header a {
  color: #ccff33;
  text-decoration: none;
}

@media only screen and (min-width: 1800px) {
  .header {
    margin-top: 1em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    border-radius: 1.5em 1.5em 0em 0em;
  }
}

.header_text {
  color: #ccff33;
  font-family: Roboto, sans-serif;
  font-size: 1.8em;
  margin-left: 1em;
  margin-top: auto;
  margin-bottom: 0.5em;
}

/** content: **/

.content {
  color: #ffffff;
  background-color: #4a4a4a;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.2),
              0 0.6em 2em 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (min-width: 1800px) {
  .content {
    margin-left: 0.3em;
    margin-right: 0.3em;
  }
}

.content a,
.content a:visited {
  color: #ffffff;
}

/** text: **/

.content_text_container {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  max-width: 49em;
}

.content_text_container a,
.content_text_container a:visited {
  color: #ffffff;
}

/** language selection: **/

.content_language {
  font-size: 1.0em;
  height: 1.0em;
  max-height: 1.0em;
  margin: 0.2em 0.5em 0.2em 0.5em;
}

.language_link {
  cursor: pointer;
  margin: 0.2em;
}

.language_link:hover {
  color: #484848;
}

/** map: **/

.leaflet-bar,
.leaflet-bar a,
.leaflet-bar a.leaflet-disabled,
.leaflet-control {
  color: #ffffff !important;
  background-color: rgba(104, 104, 104, 0.9) !important;
  border: 2px solid rgba(204, 255, 51, 0.2) !important;;
}

.leaflet-bar a:hover {
  background-color: rgba(204, 255, 51, 0.5) !important;
}

.leaflet-control-scale-line {
  color: #ffffff;
  border: 2px solid #ccff33;
  border-top: none;
  background: rgba(204, 255, 51, 0.5);
}

/* add margin to labels, to make space for radio: */
.leaflet-control-layers-base label {
  margin-left: 1.8em;
  margin-top: 0.2em;
  cursor: pointer;
}

/* hide the browser's default radio button: */
.leaflet-control-layers-base input {
  display: none;
  opacity: 0;
}

/* custom radio button: */
.leaflet-control-layers-base input:after {
  position: absolute;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #ff0000;
  border-radius: 50%;
}

/* custom radio button: */
.radio_check {
  position: absolute;
  left: 0;
  height: 1.3em;
  width: 1.3em;
  background-color: #cccccc;
  border-radius: 50%;
}

/* when checked: */
.leaflet-control-layers-base input:checked ~ .radio_check {
  background-color: #ccff33;
}

/* create the indicator, hidden when not checked: */
.radio_check:after {
  content: '';
  position: absolute;
  display: none;
}

/* show the indicator when checked: */
.leaflet-control-layers-base input:checked ~ .radio_check:after {
  display: block;
}

/* style the indicator: */
.leaflet-control-layers-base .radio_check:after {
  top: 0.4em;
  left: 0.4em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #737474;
}

.leaflet-control-mouseposition {
  min-width: 11em;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0em 0em 0.25em #bbbbbb;
  padding: 0.25em;
  margin-left: 0.5em !important;
  color: #333333;
  font: 1em "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.content_map {
  margin: 0.5em;
  min-height: 75vh;
}

.map_control {
  padding: 0.1em 0.5em 0.1em 0.5em;
  border-radius: 0.25em;
  text-align: right;
}

.map_title {
  font-size: 1.1em;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .map_title {
    max-width: 15em;
  }
}

.map_color_map {
  padding-top: 0.7em;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.map_color_map p {
  margin: 0;
  padding: 0;
  text-align: left;
}

.map_color_map_title {
  margin: 0.1em !important;
  font-size: 1em;
  font-weight: 600;
}

.map_color_map_color {
  display: inline-block;
  vertical-align: text-bottom;
  width: 1.3em;
  height: 1.3em;
  margin: 0;
  margin-right: 0.3em;
}

.map_color_map_value {
  display: inline-block;
  vertical-align: text-bottom;
  text-align: left;
}

/** slider: **/

.content_slider_title {
  margin: 0.2em;
  margin-left: 0.5em;
}

.content_slider_value {
  margin: 0.2em;
  font-weight: 0.9em;
  color: #ffffff;
}

.content_slider_slider {
  width: 75%;
  max-width: 25em;
  margin-top: 0.5em;
  margin-bottom: 1em;
  margin-left: 1.5em;
}

/** footer: **/

.footer {
  background-color: #6f6f6f;
  height: 3.5em;
  margin-top: auto;
  box-shadow: 0 0.4em 0.8em 0 rgba(0, 0, 0, 0.2),
              0 0.6em 2em 0 rgba(0, 0, 0, 0.19);
}

.footer_logo {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  max-height: 3em;
  margin: 0.25em;
}

@media only screen and (min-width: 1800px) {
  .footer {
    margin-bottom: 1em;
    margin-left: 0.3em;
    margin-right: 0.3em;
    border-radius: 0em 0em 0.5em 0.5em;
  }
}

@media only screen and (max-width: 650px) {
  .footer {
    flex: 1 1 auto;
    max-height: 2.5em;
    min-height: 2.5em;
  }
  .footer_logo {
    max-height: 2em;
  }
}

.footer_item {
  display: inline-block;
}

@media only screen and (max-width: 330px) {
  .footer_item_hide {
    display: none;
  }
}

.footer_links {
  flex-basis: 99%;
  text-align: center;
}

.footer_link {
  color: #fdfdfd;
  text-decoration: none;
}

/** buttons: **/

/* remove outlines from active buttons: */
button, button:focus, button:active {
  outline: 0;
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}


.leaflet-tooltip-local {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  transition-delay: 0.3s;
}
